.diary-card {
    position: relative;
}

.hover {
    width: 100%;
    height: 0;
    /* display: none; */
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: 0.3s all ease-in-out;
}
.diary-card .active{
    width: 100%;
    height: 100%;
    /* display: block; */
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
.hide{
    display: none;
    color: #fff;
}
.diary-card .active > .hide{
    display: flex;
    justify-content: center;
}
